<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Shadi App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

  {% include 'header.html' %}

  {% block content %}{% endblock %}

  {% include 'footer.html' %}

  <!-- Scripts -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>

</body>
</html>
