{% load static %}
<!--Footer Section -->
<footer>
<div class="container-xl">
<div class="row">
<div class="col-md-5">
<div class="logo mb-3">
      <a href="{% url 'index' %}">
      <img src="{% static 'image/shadi-logo.webp' %}" class="img-responsive">
    <div class="logo-text">Shadi
    <span>Forever</span>
    
    </div>
    </a></div>
<p>This website is owned and managed by Goalwit Technologies private limited.
We, at Shadi Forever, are committed towards helping you find the one for whom you are destined to spend the rest of your lives. Our goal is to shape muslim matrimony into a journey of compassion and trust for you.</p>
</div>


<div class="col-md-4">
<h3>Contact Me</h3>
<ul>
<li class="con-link mb-2">
    <a href="tel:+919024239788">
        <i class="fa-solid fa-phone-volume"></i>+91 9024239788
    </a>
</li>

<li class="con-link">
  <a href="mailto:choubisayogesh3@gmail.com" title="Send an email">
    <i class="fa fa-envelope"></i> choubisayogesh3@gmail.com
  </a>
</li>
</ul>
<ul class="social-link">
<li><a class="ft-icon" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
<li><a class="ft-icon" href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
<li><a class="ft-icon" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
<li><a class="ft-icon" href="#"><i class="fa-brands fa-square-x-twitter"></i></a></li>
</ul>
</div>
<div class="col-md-3">
<div class="app-link">
<h3>Get Started</h3>
<div class="ft-app-link"><a href="https://play.google.com/store/apps/details?id=com.example.your.package" target="_blank" rel="external"><img class="img-responsive" src="{% static 'image/playandapp.webp'%}" /></a></div>
</div>

</div>
</div>
</div>
</footer>

<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/owl.carousel.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/swiper-bundle.min.js"></script>
<script src="static/assets/js/counter-waypoints.min.js"></script>
<script src="static/assets/js/jquery-counterup.min.js"></script>
<script src="static/assets/js/wow.min.js"></script>
<script src="static/assets/js/script.js"></script>

</body>
</html>