{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="section-block">
<div class="container-xl">
<div class="section-title">
<h1>Privacy Policy</h1>
</div>
<div class="my-4">
<h3 class="mb-2">Information We Collect</h3>
<ul class="list-li">
<li><strong>Personal Information:</strong> We may collect personal information that you provide directly to us when registering for an account, such as your name, email address, date of birth, gender, and any other information you choose to provide.
</li>
<li><strong>Usage Information: </strong> We collect information about your interactions with the app, such as the pages you visit, features you use, and other activities within the app.

</li>
<li><strong>Device Information: </strong> We collect information about the device you use to access our services, including the hardware model, operating system, unique device identifiers, and network information.

</li>
</ul>
</div>
<div class="my-4">
<h3 class="mb-2">How We Use Your Information</h3>

<p>We may use the information we collect for various purposes, including:
</p>
<ul class="list-li">
<li>To provide, maintain, and improve our services.

</li>
<li>To personalize your experience and tailor the content we display to you.


</li>
<li>To communicate with you, including sending you updates, security alerts, and support messages.


</li>
<li>
To analyze usage trends and monitor the performance of our app.
</li>
<li>
To prevent fraudulent activities and enhance security.
</li>
</ul>
</div>
<div class="my-4">
<h3 class="mb-2">Sharing Your Information</h3>

<p>We may share your information in the following circumstances:
</p>
<ul class="list-li">
<li><strong>With Other Users:</strong> Information you provide may be shared with other users of the app as part of your profile or interactions.

</li>
<li><strong>With Service Providers:  </strong> We may share your information with third-party service providers who help us operate the app, conduct our business, or provide services to you.

</li>
<li><strong>For Legal Reasons:  </strong> We may disclose your information if required to do so by law or in response to a legal request, or to protect our rights, property, or safety.


</li>
</ul>
</div>
<div class="my-4">
<h3 class="mb-2">Your Choices</h3>
<ul class="list-li">
<li><strong>Account Information: </strong>You can update, correct, or delete your account information at any time by accessing your account settings.
</li>
<li><strong>Marketing Communications:  </strong> You can opt-out of receiving promotional communications from us by following the unsubscribe instructions in those messages.
</li>
</ul>
</div>
<div class="my-4">
<h3 class="mb-2">Data Security</h3>
<p>
We implement appropriate technical and organizational measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is completely secure.


</p>
</div>
<div class="my-4">
<h3 class="mb-2">Data Retention</h3>
<p>
We retain your personal information for as long as necessary to provide our services to you and as required by law. If you choose to delete your account, we will delete your information within a reasonable period, except as required by law.
</p>
</div>
<div class="my-4">
<h3 class="mb-2">Children’s Privacy</h3>
<p>
Our services are not intended for children under the age of 18. We do not knowingly collect personal information from children under 18. If we learn that we have collected such information, we will take steps to delete it.

</p>
</div>
<div class="my-4">
<h3 class="mb-2">International Data Transfers
</h3>
<p>
Your information may be transferred to and processed in countries other than your own. We ensure that such transfers are carried out in accordance with applicable data protection laws.


</p>
</div>
<div class="my-4">
<h3 class="mb-2">Changes to This Privacy Policy

</h3>
<p>
We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting the new Privacy Policy on this page and updating the “Last Updated” date.



</p>
</div>
<div class="my-4">
<h3 class="mb-2">Your Rights
</h3>
<p>
Depending on your jurisdiction, you may have the right to access, rectify, or delete your personal information, or object to the processing of your personal data. You can exercise these rights by contacting us at [Contact Information].
</p>
</div>
<div class="my-4">
<h3 class="mb-2">Contact Us
</h3>
<p>
If you have any questions or concerns about this Privacy Policy or our data practices, please <a href="index.html#contact-bl">contact us</a>.
</p>
</div>
</div>
</section>
{%endblock%}
