{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="section-block">

<div class="container-xl">
<div class="section-title">
<h1>Sign Up</h1>
</div>
<div class="form-block">

<form method="POST">
  {% csrf_token %}
  <input class="form-control" type="text" name="username" placeholder="Username" required><br>
  <input class="form-control" type="email" name="email" placeholder="Email" required><br>
  <input class="form-control" type="password" name="password" placeholder="Password" required><br>
  <input class="form-control" type="password" name="confirm" placeholder="Confirm Password" required><br>
  <button class="btn btn-main px-5 mb-2"  type="submit">Sign Up</button>
</form>
<a href="{% url 'login' %}">Already have an account? Login</a>
</div>
</div>
</section>
{%endblock%}